.cards {
  padding: 4rem;
  background: #fff;
  font-family: "PT Sans", sans-serif;
}

.cards > h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.cards__container {
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.cards__items {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__item {
  width: 30%;
  border-radius: 10px;
  margin: 40px 15px 0;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 10px;
  height: 130px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  display: flexbox;
  height: 60px;
}

.cards__item__info > p {
  color: #252e48;
  margin: 0;
  padding-top: 10px;
  text-align: right;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    min-width: 40%;
  }
}

@media only screen and (max-width: 515px) {
  .cards__item {
    min-width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  .cards__item {
    min-width: 300px;
  }
}
