.chatbox__button {
  position: fixed;
  z-index: 998;
  bottom: 40px;
  right: 50px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #0d6efd;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.chat-body {
  padding: 0;
  background-color: #e6eaea;
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem - 1px);
}

.chatbox-title {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  margin: auto 0;
  padding: 0 0 0 10px;
  display: inline-block;
  color: #272727;
  font-weight: bold;
}

.chatbox-header {
    background-color: #f5f5f5;
    font-size: 2rem;
    padding: 10px 16px;
}

.chat-validation {
    color: #272727;
    text-align: center;
    margin: 50px 0;
}
