.footer-container {
  background-color: #242424;
  padding: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
}

a.footer-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

a.footer-logo:hover {
  color: #fff;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
}

.footer-link-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.icon-address {
  margin-right: 10px;
}

.footer-link-items {
  /* margin: 16px 16px 0 16px; */
  text-align: left;
  box-sizing: border-box;
  width: 30%;
}

.footer-link-items:nth-child(2) {
  padding: 0 23px;
  /* width: 28%; */
}
/* 
.footer-link-items:last-child {
    width: 38%;
} */

.footer-link-items h2 {
  margin-bottom: 16px;
  font-weight: bold;
  position: relative;
  font-size: 26px;
}

.footer-link-items h2::before {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  height: 3px;
  width: 40px;
  border-radius: 5px;
  background: #fff;
}

.footer-link-items > h2,
p {
  color: #fff;
  font-weight: bold;
}

.footer-link-items p {
  font-size: 14px;
  margin-bottom: 14px;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-icon-link:hover {
  color: #fff;
}

.social-media {
  max-width: 1000px;
  width: 100%;
  font-weight: bold;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  /* .footer-links {
        padding-top: 2rem;
        padding-left: 2rem;
    } */

  a.footer-logo {
    display: none;
  }

  .footer-link-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* margin: 0 50px; */
  }

  .footer-link-items,
  .footer-link-items:nth-child(2) {
    min-width: 300px;
    margin: 0 0 20px;
    padding: 0;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}
