.container-profile {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 4rem auto;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  font-family: "PT Sans", sans-serif;
}

.user-profile-avatar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container-profile .title {
  font-size: 1.8rem;
  font-weight: bold;
  background: #272727;
  color: #fff;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container-profile .content {
  padding: 0 30px 30px;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form span.details {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.user-details .input-box #input-profile {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
form .address-box .input-address-box {
  height: 90px;
  width: 640px;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-bottom: 15px;
  resize: none;
}

form .services-box {
  width: 640px;
}

form .services-box .button-services {
  height: 45px;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
}

.services-book-form {
    max-width: 640px;
    display: flex;
    margin-bottom: 10px;
}

.input-services-box {
  width: 90%;
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.remove-services {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  background: #f44336;
  color: #fff;
}

.remove-services:hover {
  background-color: #da190b;
}

form .button input:hover,
form .services-box .button-services:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  form .address-box {
    width: 100%;
  }
  form .address-box .input-address-box {
    width: 100%;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
