.historyTitle {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #212529;
}

#tableContainer {
  overflow: auto;
  border-radius: 6px;
  border: 1px solid #272727;
  margin: 0 3rem 3rem 3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table#userHistory {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  border-style: hidden;
}

table#userHistory thead tr th {
  font-weight: bold;
  background-color: #272727;
  color: #fff;
}

#userHistory thead tr th,
#userHistory tbody tr td {
  font-size: 1.2rem;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #272727;
}

.message-transaction {
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    padding: 30px 0;
}

#userHistory tr:hover {
  background-color: #00ffb9;
}

@media screen and (max-width: 768px) {
  #userHistory thead tr th,
  #userHistory tbody tr td {
    font-size: 1rem;
  }
}

@media screen and (max-width: 455px) {
  #tableContainer {
    margin: 0.5rem;
  }
}
