@font-face {
  font-family: "Raleway";
  src: url(../../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Awesom";
  src: url(../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf);
}

h3{
  font-family: "Raleway";
  font-size: 23px;
  font-weight: bolder;
  color: #48494a;
  margin-bottom: 30px;
  margin-top: -40px;
}

#identity{
  width: 53px;
  text-align: center;
}

#form-book {
  .booking-card {
    height: auto;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #d3e3d7;
    position: relative;

    label {
      font-family: "Raleway";
      font-weight: bold;
      font-size: 18px;
      text-align: left;
      margin-bottom: 20px;
      margin-left: 20px;
    }

    .input-group-guestName {
      margin-top: 30px;
      border-bottom-style: solid;
      border-bottom-width: 0.5px;
      border-bottom-color: #bfc7c1;

      select {
        width: 70px;
        height: 40px;
        font-size: 23px;
        margin-right: 10px;
        margin-left: 30px;
        margin-top: 1px;
        border-radius: 4px;
        border-color: #c4cfc7;

        option {
          text-align: center;
          font-size: 23px;
        }
      }

      #guestName {
        width: 62.5%;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #c4cfc7;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        margin-bottom: 30px;
      }
    }

    .input-group-phone {
      margin-top: 20px;
      border-bottom-style: solid;
      border-bottom-width: 0.5px;
      border-bottom-color: #bfc7c1;

      .initPhones {
        width: 70px;
        height: 40px;
        font-size: 23px;
        margin-right: 10px;
        margin-left: 80px;
        margin-top: 1px;
        border-radius: 4px;
        border-color: #c4cfc7;
        display: inline-block;
        border-style: solid;
        border-width: 0.5px;
        text-align: center;
      }

      #phone {
        width: 60%;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #c4cfc7;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        margin-bottom: 30px;
      }

      label {
        display: inline-block;
      }

      #labelseparate {
        margin-left: 0px;
        margin-right: 14px;
        font-size: 30px;
      }
    }

    .input-group-date {
      margin-top: 20px;
      border-bottom-style: solid;
      border-bottom-width: 0.5px;
      border-bottom-color: #bfc7c1;

      label {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 18px;
        text-align: left;
        margin-bottom: 20px;
        margin-left: 20px;
      }

      #date {
        display: inline-block;
        width: 25%;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #c4cfc7;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        margin-bottom: 30px;
        margin-left: 93px;
      }

      #labelemail {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 18px;
        text-align: left;
        margin-bottom: 20px;
        margin-left: 100px;
      }

      #email {
        display: inline-block;
        width: 26.5%;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #c4cfc7;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
      }
    }

    .input-group-services {
      margin-top: 20px;
      border-bottom-style: solid;
      border-bottom-width: 0.5px;
      border-bottom-color: #bfc7c1;

      label {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 18px;
        text-align: left;
        margin-bottom: -100px;
        margin-left: 20px;
      }

      #buttonAdd {
        width: 10%;
        background-color: white;
        height: 40px;
        display: block;
        text-align: center;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #8e24aa;
        margin-left: auto;
        margin-right: auto;
      }

      #select-services {
        width: 60%;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #c4cfc7;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        margin-bottom: 30px;
        margin-left: 180px;
        margin-top: -170px;
      }

      #remove {
        display: inline-block;
        width: 33px;
        border-radius: 1000px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        background-color: white;
        border-style: solid;
        border-color: #8e24aa;
        border-width: 1px;
        color: #8e24aa;
        margin-left: 10px;
      }
    }

    .input-group-stylish {
      label {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 18px;
        text-align: left;
        margin-left: 20px;
        margin-top: 30px;
      }

      #employee {
        width: 20%;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #c4cfc7;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        margin-bottom: 30px;
      }

      #status-label {
        margin-left: 163px;
        margin-right: 30px;
      }

      #status {
        display: inline-block;
        width: 26.5%;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #c4cfc7;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
      }
    }

    .title-book {
      background-color: #8e24aa;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 100px;

      p {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #f2f7f4;
      }

      h4 {
        font-family: "Raleway";
        font-weight: bolder;
        font-size: 28px;
        color: #f2f7f4;
        text-align: center;
        padding-top: 20px;
      }
    }
  }

  .send-to-invoice {
    .list-booking {
      float: right;
      font-family: "Raleway";
      font-size: 25px;
      margin-top: 30px;

      .total{
        margin-right: 120px;
        font-weight: bolder;
      }

      .price{
        font-weight: lighter;
        font-size: 24px;
        margin-right: 10px;
      }

      .btn-next{
        background-color: #8e24aa;
        width: 100%;
        margin-bottom: 70px;
        margin-top: 26px;
        color: white;
        border-radius: 3px;
        font-family: "Raleway";
      }
    }
  }
}

#status-select {
  display: inline-block;
  width: 26.5%;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #c4cfc7;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}