.submit-chat {
    width: 100%;
    height: 50px;
    background-color: #435f7a;
    border-bottom-left-radius: calc(.3rem - 1px);
    border-bottom-right-radius: calc(.3rem - 1px);
}

.message-box-user {
    width: 100%;
    padding: 5px 30px;
    margin: 0;
}

.message-box-user .ChatMessage {
    width: 80%;
}

.message-box-user .ChatMessage p {
    /* color: #272727; */
    margin: 0;
    font-weight: normal;
    font-family: "PT Sans", sans-serif;
}
.message-box-user .ChatMessage .RightBubble {
    position: relative;
    background: #f5f5f5;
    color: #272727;
    border-radius: 10px;
    padding: 5px 10px 10px;
    left: 28%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.message-box-user .ChatMessage .RightBubble > p {
    color: #272727;
    word-wrap: break-word;

}
.message-box-user .ChatMessage .RightBubble p.MsgDate {
    font-size: 10px;
    text-align: right;
}

.message-box-user .ChatMessage .RightBubble:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 13px;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-left-color: #f5f5f5;
    border-right: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-right: -27px;
}
.message-box-user .ChatMessage .LeftBubble {
    position: relative;
    background: #435f7a;
    border-radius: 10px;
    padding: 5px 10px 10px;
    left: -10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.message-box-user .ChatMessage .LeftBubble > p {
    color: #ffffff;
}
.message-box-user .ChatMessage .LeftBubble span.MsgName {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.message-box-user .ChatMessage .LeftBubble p.MsgDate {
    font-size: 10px;
    color: #ffffff;
    text-align: right;
}
.message-box-user .ChatMessage .LeftBubble:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 13px;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-right-color: #435f7a;
    border-left: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-left: -27px;
}

.message-box-user .ChatStatus {
    min-height: 49px;
}

.message-box-user .ChatStatus .ChatDate {
    display: block;
    font-size: 10px;
    font-style: italic;
    color: #777;
    height: 15px;
    left: 10%;
    right: 10%;
}

.message-box-user .ChatStatus .ChatContentCenter {
    padding: 5px 10px;
    background-color: #e1e1f7;
    border-radius: 6px;
    font-size: 12px;
    color: #555;
    height: 34px;
    left: 10%;
    right: 10%;
}

.chat_user_content {
    height: 400px;
}

#message-user {
    width: 90%;
    height: 100%;
    border-style: none;
    text-align: left;
    padding: 0 10px;
    font-size: 1.3rem;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

.submit-chat button {
    color: #ffffff;
    width: 10%;
    height: 100%;
    margin: 0;
    border-style: none;
}
