@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway-Regular.ttf");
}

button {
  margin-bottom: 10px;
  margin-right: 10px;
}


h5 {
  font-weight: lighter;
}

label {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 30px;
}

.modal-title {
  color: #8e24aa;
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 27px;
}

.send {
  width: 100px;
  font-family: "Raleway";
  background-color: #8e24aa;
  border-color: #8e24aa;
  border-width: 0px;
  height: 38px;
}

.send:hover {
  background-color: #a716cf;
}

#category {
  width: 450px;
  height: 40px;
  font-size: 19px;
  border-width: 1px;
  font-family: "Raleway";
  border-color: #d6d5d2;
  margin-bottom: 30px;
  border-radius: 5px;
}

.form-product {
  label {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 30px;
    display: block;
  }
  #valutas {
    width: 70px;
    height: 40px;
    font-size: 19px;
    border-width: 0px;
    margin-right: 10px;
  }

  #picture {
    display: block;
    margin-top: 30px;
  }
}

.modal-body {
  img {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
  }

  #identity {
    margin-right: 10px;
  }

  label {
    display: inline-block;
    font-size: 18px;
  }

  #form-book {
    #status-select {
      display: inline-block;
      width: 26.5%;
      height: 40px;
      border-style: solid;
      border-width: 1px;
      border-color: #c4cfc7;
      display: inline-block;
      text-align: center;
      border-radius: 4px;
      font-size: 20px;
      margin-bottom: 30px;
      margin-left: 20px;
    }
  }

  input[type="date"],
  input[type="email"],
  input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 450px;
    height: 40px;
    border-color: #d6d5d2;
    margin-bottom: 30px;
    display: inline;
    font-family: "Raleway";
    font-size: 17px;
    text-align: center;
  }

  input[type="number"] {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    border-color: #d6d5d2;
    margin-bottom: 30px;
    display: inline-block;
    font-family: "Raleway";
    font-size: 17px;
    text-align: left;
  }

  #save-employ {
    float: right;
  }

  input[type="checkbox"] {
    display: inline-block;
  }

  h5 {
    display: inline-block;
    margin-right: 0px;
  }
}

#save-employee {
  float: right;
  margin-top: 20px;
  width: 100px;
}

#price {
  width: 380px;
  margin-left: 0px;
}

#gender,
#birthDate,
#phone,
#email {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 450px;
  height: 40px;
  border-color: #d6d5d2;
  margin-bottom: 30px;
  display: inline-block;
  font-family: "Raleway";
  font-size: 20px;
  text-align: center;
}

.inline-checks {
  margin-right: 7px;
}

input[type="checkbox"] {
  width: 15px;
  margin-right: 7px;
  display: inline-block;
}

#imgs {
  margin-top: 30px;
}

#img {
  margin-bottom: 30px;
}
