.total-booking, .price-booking {
    color: #272727;
    border-bottom: 1px dashed #272727;
    margin: 0;
}

.price-booking {
    font-size: 1.2rem;
    padding: 10px 0;
}

.total-booking {
    padding-bottom: 10px;
}
