@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.form-container {
  margin: 50px auto;
  max-width: 500px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px 0;
  grid-template-columns: 1fr 1fr;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form h1 {
  font-size: 20px;
  font-weight: normal;
  text-align: start;
  width: 80%;
  margin-bottom: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.form .signin {
  font-size: 30px;
  text-align: center;
}

.form-inputs {
  margin-bottom: 20px;
  width: 80%;
}

.fullname-input {
  display: flex;
}

.fullname-input .gender {
  width: 25%;
  margin-right: 5px;
}

.form-inputs p {
  font-size: 16px;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  font-size: 18px;
}

/* Chrome, Safari, Edge, Opera */
.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-input[type="number"] {
  -moz-appearance: textfield;
}

.form-input::placeholder {
  color: #595959;
  font-size: 18px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
