#dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  height: fit-content;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#dropdown-menu li {
  background: rgb(26, 23, 23);
  cursor: pointer;
  border-top: 1px solid #272727;
}

#dropdown-menu li:hover {
  background: #fff;
}

#dropdown-menu#clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.dropdown-link:hover {
  color: #272727;
}

button.dropdown-link {
  text-align: left;
}

@media screen and (max-width: 960px) {
  #dropdown-menu {
    width: 100%;
    position: absolute;
    top: 356px;
    list-style: none;
    text-align: center;
  }

  button.dropdown-link {
    text-align: center;
  }
}
