nav#navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "PT Sans", sans-serif;
}

nav#navbar div#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

a.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

a.navbar-logo:hover {
  color: #fff;
}

.image-logo {
  margin-right: 0.5rem;
  width: 35px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  height: 100%;
}

#nav-item {
  height: 80px;
  display: flex;
  align-items: center;
}

a.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: bold;
}

a.nav-links:hover {
  background-color: #fff;
  transition: all 0.2s ease-out;
  color: #242424;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.button-signout {
  background-color: transparent;
  color: #fff;
  padding: 6px 16px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  font-weight: bold;
  text-decoration: none;
}

.button-signout:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    overflow: auto;
  }

  .button-signout {
    display: none;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  a.nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-weight: bold;
  }

  a.nav-links:hover {
    background-color: #242424;
    color: #fff;
  }

  a.navbar-logo {
    position: absolute;
    top: 12%;
    left: 0;
    transform: translate(25%, 50%);
    font-size: 1.5rem;
  }

  a.navbar-logo img.image-logo {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
